---
layout: default
---
<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>PNNL: Global Arrays Toolkit, Platforms</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
        <meta  name="description" content="The Global Arrays (GA) toolkit
        provides an efficient and portable &quot;shared-memory&quot;
        programming interface for distributed-memory computers." />
        <meta name="keywords" content="PNNL, Global Arrays, EMSL" />
        
    </head>
    <body>
        <div id="page">
            {% include shared/header.inc %}
            
            <div id="container">
                <div id="main">

<h1>Dynamic Memory Allocator</h1>

<p>Memory Allocator(MA) is a library of routines that comprises a dynamic
memory allocator for use by C, Fortran, or mixed-language applications.
Fortran- 77 applications require such a library because the language does not
support dynamic memory allocation. C (and Fortran-90) applications can benefit
from using MA instead of the ordinary malloc() and free() routines because of
the extra features MA provides:</p>

<ul>
    <li>both heap and stack memory management disciplines,</li>
    <li>support for Fortran and C datatypes,</li>
    <li>debugging and verification support including
    <ul>
        <li>guards protecting allocated memory blocks</li>
        <li>detection of ovewritten ends of the allocated memory blocks by the
        application</li>
        <li>ability to assign names to allocated memory blocks</li>
    </ul>
    </li>
    <li>usage statistics, and</li>
    <li>quantitative memory availability information.</li>
</ul>

<p>MA library can be obtained with the Global Arrays distribution package.</p>

<h2>Implementation</h2>

<p>
Memory layout:<br/>
segment = heap_region stack_region<br/>
region = block block block ...<br/>
block = AD gap1 guard1 client_space guard2 gap2<br/>
</p>

<p>A segment of memory is obtained from the OS upon initialization. The low end
of the segment is managed as a heap; the heap region grows from low addresses
to high addresses. The high end of the segment is managed as a stack; the stack
region grows from high addresses to low addresses.</p>

<p>Each region consists of a series of contiguous blocks, one per allocation
request, and possibly some unused space. Blocks in the heap region are either
in use by the client (allocated and not yet deallocated) or not in use by the
client (allocated and already deallocated). A block on the rightmost end of the
heap region becomes part of the unused space upon deallocation. Blocks in the
stack region are always in use by the client, because when a stack block is
deallocated, it becomes part of the unused space.</p>

<p>A block consists of the client space, i.e., the range of memory available
for use by the application; guard words adjacent to each end of the client
space to help detect improper memory access by the client; bookkeeping info (in
an "allocation descriptor," AD); and two gaps, each zero or more bytes long, to
satisfy alignment constraints (specifically, to ensure that AD and client_space
are aligned properly).</p>

                </div>
            </div>

            <div id="rightCol">
                
                {% include shared/rightnav_ma.inc %}
                
            </div>
            
        </div>
    </body>
</html>
