---
layout: default
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>PNNL: High-Performance Computing</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="PNNL, HPC, High Performance Computing" />
        
        <style>
            .center
            {
                margin:auto;
                width:70%;
            }
        </style>
    </head>
    <body>
        <div id="page">
            {% include shared/header.inc %}
            
            <div id="container">
                <div id="main">

<h1>ComEx Publications</h1>

<ul>

<li>
J. Daily, A. Vishnu, B. Palmer, H. van Dam, D. Kerbyson.
2014.
<a href="http://dx.doi.org/10.1109/HiPC.2014.7116712">"On the suitability of MPI as a PGAS runtime."</a>
<cite>21st International Conference on High Performance Computing (HiPC).</cite>
</li>

<li>
A. Vishnu, D. Kerbyson, K. Barker, and H. van Dam.
2013.
<a href="http://dx.doi.org/10.1109/IPDPSW.2013.262">"Building Scalable Communication Subsystem on Blue Gene/Q."</a>
<cite>International Workshop on Communication Architecture on Scalable Systems (CASS), International Parallel and Distributed Processing Symposium (IPDPS).</cite>
</li>

<li>
A. Vishnu, J. Daily, B. Palmer.
2012.
<a href="http://dx.doi.org/10.1109/HiPC.2012.6507506">"Designing scalable PGAS communication subsystems on cray gemini interconnect."</a>
<cite>International Conference on High Performance Computing (HiPC)</cite>, India.
</li>

</ul>

                </div>
            </div>

            <div id="rightCol">
                {% include_relative shared/leftnav.inc %}
                
            </div>
            
        </div>
    </body>
</html>
